html, body {
  overflow-x: hidden;
  background-color: white;
}

.container {
  padding: 0;
  margin: 0;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
}
.lnug-header {
  background-color: rgb(70, 72, 61);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 220px;
}
.lnug-headline {
  background-color: rgb(70, 72, 61);
  color: yellow;
  font-size: 10px;
}
.lnug-headline h1 {
  margin: 0 !important;
  padding: 10px 0 !important;
  font-size: 18px !important;
  color: rgb(196, 200, 175);
}

.lnug-menu {
  background-color: rgb(83, 85, 74);
  text-align: center;
}

.lnug-menu li {
  display: inline-block;
  width: 100%;
  max-width: 200px;
  padding: 1em 3em;
  margin: .5em;
}

.lnug-menu li a {
  font-size: 1.3em;
  color: #fff;
}


#lnug-tkt {
  color:rgba(190,213,46,0.8);
  font-size: 3em;
  text-align: center;

}

.lnug-nextevent {
  background-color: rgb(245, 245, 245);
  height: 80px;
  font-size: 24px;
  padding-top: 20px;
}

.lnug-sectiondesc {
  color: rgb(196, 200, 175);
  font-size: 36px;
  height: 80px;
  width: 100%;
}

html body .lnug-section p {
  padding-left: 0 !important;
  margin-left: 0 !important;
}

.talk-label,.sponsor-label {
  padding: 15px 0;
  border-bottom: 1px rgb(240, 240, 240) solid;
}
.twitter-label {
  padding: 15px 0;
  border-bottom: 1px rgb(240, 240, 240) solid;
}

.twitter-widget {
  padding-top: 10px;
  margin: 0 40px;
}

.lnug-content {

}

.lnug-content h1 p, .lnug-content h1 {
  margin-left: 20px;
}

.lnug-archive dl {
  margin: 0 20px;
}

.lnug-archive dt {
  font-size: 28px;
}

.lnug-archive dd {
  font-size: 16px;
}

.lnug-singlespeaker {
  margin-top: 25px;
  display: table;
}

.lnug-speakerphoto {
  display: table-cell;
  vertical-align: top;
  margin-top: 15em;
  float: none;
}
.lnug-speakercard {
  display: table-cell;
  float: none;
}

.lnug-speakercard div {
  margin: 10px 0;
  height: 100%;
}

.lnug-speakername {
  font-size: 32px;
  color: black;
  font-weight: 700;
}

.lnug-talktitle {
  font-size: 28px;
  color: black;
  font-weight: 400;
}

.lnug-talkdesc {
  font-size: 16px;
  color: black;
  font-weight: 300;
}

.lnug-twitterhandle {
  font-size: 26px;
  color: rgb(206, 208, 194);
  font-weight: 300;
}

.lnug-footer {
  background: rgb(83, 85, 74);
  height: 80px;
  color: rgba(255,255,255,0.4);
}

.lnug-footer-text {
  margin-top: 10px;
  text-align: center;
}
.lnug-footer-text li {
  display: inline-block;
  padding: 0 15px;
  margin: 30px !important;
}

.lnug-footer-text a {
  color: rgba(255,255,255,0.4);
}


.main_logo {
  height: 200px;
}
.lnug-hero {
  background: rgb(70, 72, 61);
}

.lnug-header.img-responsive {
  margin: 30px !important;
  text-align: center;
}

.logo-detail {
  position: relative;
  top: -3em;
  left: -6.3em;
  color: #fff;
}



@import url(http://fonts.googleapis.com/css?family=Arvo);

.box{
  margin:0px auto;
  margin-top:80px;
  background:#FFF9EE url(http://subtlepatterns.com/patterns/lightpaperfibers.png);
  color:#333;
  text-transform:uppercase;
  padding:8px;
  width:50%;
  font-weight:bold;
  text-shadow:0px 1px 0px #fff;
  font-family:"arvo";
  font-size: 11px;

}

.inner{
  border: 2px dashed rgba(51, 51, 51, 0.5);
  min-height:100px;
  padding:8px;

}
.inner h1{
  padding:5px 0px;
  margin:0px;
  font-size:18px;
  border-bottom: 1px solid rgba(51, 51, 51, 0.3);
  text-align:center;
}
.info{
  width:100%;
  margin-top:5px;
}
.info .wp{
  float: left;
  padding: 5px;
  width: 83px;
  text-align: center;
}
.info .wp h2{
  margin: 8px;
}
.total{
  border-top: 1px solid rgba(51, 51, 51, 0.3);
}

.ticket {
    text-align: center;
}
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.total h2{
  padding-left:115px;
  margin:10px 0px;
  font-size: 15px;
}
.total p{float:right;margin:0px;margin-right: 15px;}

a.buy{
  color:#fff;
  text-align:center;
  font-size:25px;
  text-decoration:none;
  display:block;
  width:200px;
  margin:0px auto;
  margin-top:50px;
  padding:5px;
  background:rgba(0,0,0,0.5);
}
