
@import url(http://fonts.googleapis.com/css?family=Arvo);
@import url(http://fonts.googleapis.com/css?family=Noticia+Text);


html, body {
  overflow-x: hidden;
  background-color: white;
  background: #303030;
}

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;

}
a {
    text-decoration: none;
}

h1 {
    margin:0;
    font-size: 2.5em;
    color: #1D1D1D;
    border-bottom: 1px dashed #eee;
    font-family: 'Noticia Text', serif;

}


.container {
  padding: 0;
  margin: 0;
  width: 100%;

}


.lnug-ticket {
    margin:0 0 4em 0 ;
}
.lnug-menu {
  background-color: #1d1d1d;
  text-align: center;
}

.lnug-menu li {
  display: inline-block;
  width: 100%;
  max-width: 180px;
  padding: 1em ;
  font-family:"arvo";
  /*font-family: 'Noticia Text', serif;*/

  margin: .5em;
}

.lnug-menu li a {
  font-size: 1.2em;
  color: #fff;
}

.img-circle {
    border-radius: 50%;
}



.lnug-body {
    padding:4em 3em;
    margin: 0 0;
    background: #fff;
    color: #303030;
}


ul.lnug-content {
    margin: 0;
}
.lnug-content h1 p, .lnug-content h1 {
  margin-left: 20px;
}

ul.lnug-content.lnug-archive {
    text-align: left;
}

.lnug-archive dl {
  margin: 0 20px;
}

.lnug-archive dt {
  font-size: 28px;
}

.lnug-archive dd {
  font-size: 16px;
}



.lnug-footer-text {
    padding: 1em;
    line-height: 3em;
  text-align: center;
}
.lnug-footer-text li {
  display: inline-block;
  padding: 0 15px;
}

.lnug-footer-text a {
  color: #eee;
}


.main_logo {
  height: 200px;
}

.lnug-header.img-responsive {
  margin: 3em;
  text-align: center;
}

.logo-detail {
  position: relative;
  top: -55px;
  color: #fff;
}



.box{
  margin:0px auto;
  color:#333;
  text-transform:uppercase;
  padding:8px;
  width:90%;
  font-weight:bold;

  font-family:"arvo";
  /*font-family: 'Noticia Text', serif;*/
  font-size: 11px;

}

@media (min-width: 650px) {
    .box {
        width:50%;
    }
    .info .wp{
      float: left;
      border-bottom: 0 !important;
    }
    .info .wp.address {
        text-align: right;
        float: right;
    }

}
.inner{
  border: 2px dashed #303030;
  min-height:100px;
  background:#eee url(http://subtlepatterns.com/patterns/lightpaperfibers.png);

  transform: rotate(-2deg);
  padding:8px;

}
.inner h1{
  padding:5px 0px;
  margin:0px;
  font-size:18px;
  border-bottom: 1px solid rgba(51, 51, 51, 0.3);
  text-align:center;
}
.info{
  width:auto;
  margin:2em;
}
.info .wp{
  padding: 5px;
  text-align: center;
  border-bottom: 1px solid #ddd;
  margin: 1em 0;
}
.info .wp.desc{
    text-transform: none;
    font-size: 1.2em;
    line-height: 2em;
    width: 100%;

}

.info .wp h2{
  margin: 8px;
}
.total{
  border-top: 1px solid rgba(51, 51, 51, 0.3);
}

.info li {
    text-align: left;
    text-transform: none;
}

.ticket {
    text-align: center;
}
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.total h2{
  padding-left:15px;
  margin:10px 0px;
  font-size: 15px;
}
.total p{float:right;margin:0px;margin-right: 15px;}

a.buy{
    margin:10px auto 0;

    font-size:25px;
        padding: .3em 1em;
}

.cta {
    color:#1b1b1b;
    text-align:center;
    text-decoration:none;
    display:block;
    background:#80bd01;
    border-radius: 5px;

}

ul.lnug-content {
    text-align: center;
    margin: 0;
    padding: 0;
}

.lnug-speaker {
    width: auto;
    text-align: left;
    padding: 0;
    margin-top: 2em;
    margin-bottom: 4em;
    list-style: none;

}

@media (min-width: 1200px) {
    .lnug-speaker {
        width: auto;
        display: inline-block;
        vertical-align: top;
        margin: 1em 1em;
        max-width: 350px;
    }

    .lnug-speaker .title {
        height: 3em;
    }
}

.lnug-speaker .detail {
    /*background: #eee;*/
}

.lnug-speaker .title {
    margin:.4em 0;
}
.lnug-speaker .name {
    font-weight: bold;
    margin: 0;
    display: inline;
    position: relative;
    color: #8A8585;
    top: -30px;
    padding: 0;
}
.lnug-speaker .desc {
    /*background: green;*/
    
}
.lnug-speaker  p {
    margin: 0;
    padding: 0;
}
.lnug-speaker img {
    width: 70px;
    height: 70px;
}

ul.sponsors {
    text-align: center;
    margin: 0;
    padding: 0;
}

ul.sponsors li {
    display: inline-block;
    margin: 2em;
    width: 25%;
    min-width: 210px;
}


.lnug-mailing-list {
    width: auto;

    margin-left: 2em;
    padding: 1em;
    color: white;
}
.lnug-mailing-list h1 {
color: white;
        margin: 0;
        border-bottom: 1px dashed #75BD01;
}

.lnug-mailing-list input {
    display: inline;
    padding: .6em;
    margin: .6em 0;
    font-family:"arvo";
    /*font-family: 'Noticia Text', serif;*/

    font-size: 1.1em;
}
