<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:og="http://ogp.me/ns#" xmlns:fb="http://www.facebook.com/2008/fbml">
<head>
  <meta charset="utf-8">
  <title>LNUG - London Node User Group</title>
  <meta name="description" content="London Node.js User Group is a meetup for developers but everyone is welcome. We meet every month to talk about Node, Javascript and to network">
  <!-- og  + meta data -->
  <meta property="og:title" content="LNUG - London Node User Group">
  <meta property="og:type" content="website">
  <meta property="og:url" content="http://lnug.org">
  <meta property="og:image" content="https://cloud.githubusercontent.com/assets/1097232/8071106/f07e3f4e-0efe-11e5-84f7-f4d4debe9ec7.png">
  <meta property="og:site_name" content="LNUG - London Node User Group">
  <meta property="og:description" content="London Node.js User Group is a meetup for developers but everyone is welcome. We meet every month to talk about Node, Javascript and to network.">

  <meta name="twitter:site" content="@lnugorg">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="LNUG - London Node User Group">
  <meta name="twitter:description" content="London Node.js User Group is a meetup for developers but everyone is welcome. We meet every month to talk about Node, Javascript and to network.">
  <meta name="twitter:image" content="http://i.imgur.com/BBVehHB.png">
  <meta name="twitter:url" content="http://www.lnug.org">
  <meta name="google-site-verification" content="gnZ_Oz6_k7Gv93jmtpCeY6Rjz6E_rjh_1n5dlYgMcJw">
  <script src="//code.jquery.com/jquery.min.js"></script>
  <link rel="stylesheet" href="/css.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div class="lnug-header img-responsive">
        <img src="/public/logo.png" class="main_logo"/>
        <p class="logo-detail">London Node User Group</p>
    </div>

    <nav  class="lnug-menu">
        <li><a href="/archive">Archive</a></li>
        <li><a href="https://gitter.im/lnug/discuss" target="_blank">Discuss</a></li>
        <li><a href="https://github.com/lnug/speakers">Speak</a></li>
    </nav>

    <div class="lnug-body">
        <div class="lnug-ticket"></div>

        <h1>Talks</h1>
        <p>
            This months talks will include:
        </p>
        <ul class="lnug-content">
        </ul>
    </div>


    <div class="lnug-mailing-list"></div>


    <div class="lnug-body">
        <h1>Sponsors</h1>
        <p>
            London Node User group is made possible by all of these wonderful companies:
        </p>
        <ul class="sponsors">
          <li>
            <a href="http://www.stackoverflow.com" target="_blank" title="Stackoverflow homepage, proud sponsor of LNUG">
              <img src="/public/stackoverflow.jpg" alt="Stackoverflow">
            </a>
          </li>
          <li>
            <a href="http://www.nexttick.io" target="_blank" title="Nexttick homepage, proud sponsor of LNUG">
              <img src="/public/nexttick.jpg" alt="Nexttick">
            </a>
          </li>
          <li>
            <a href="https://www.braintreepayments.com/" target="_blank" title="BrainTree Payments homepage, proud sponsor of LNUG">
              <img src="/public/braintree.png" alt="BrainTree Payments">
            </a>
          </li>
          <li>
            <a href="http://www.opentable.com/" target="_blank" title="Open Table homepage, proud sponsor of LNUG">
              <img src="/public/opentable.jpg" alt="Open Table">
            </a>
          </li>
          <li>
            <a href="http://www.yld.io" target="_blank" title="YLD homepage, proud sponsor of LNUG">
              <img src="/public/yld.jpg" alt="YLD">
            </a>
          </li>
          <li>
            <a href="http://www.artificial.io" target="_blank" title="Artificial homepage, proud sponsor of LNUG">
              <img src="/public/artificial-labs.jpg" alt="Artificial Labs">
            </a>
          </li>
        </ul>
    </div>

    <ul class="lnug-footer-text">
        <li><a href="code-of-conduct" title="code-of-conduct">Code of Conduct</a></li>
        <li><a href="code-of-conduct" title="code-of-conduct">Code of Conduct</a></li>

        <li><a href="mailto:contact@lnug.org?Subject=LNUG+site+question">Contacts</a></li>
        <li><a href="http://nexttick.us8.list-manage.com/subscribe?u=9ebd291b0179eceff6533b0da&amp;id=f7e81cdb7a" target="_blank" title="The monthly newsletter">Newsletter</a></li>
        <li><a href="//github.com/lnug/speak" target="_blank" title="speakers application">Apply to Speak</a></li>
    </ul>

</body>
<link href="//fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet" type="text/css">
<script>
  !function(g,s,q,r,d){r=g[r]=g[r]||function(){(r.q=r.q||[]).push(
  arguments)};d=s.createElement(q);q=s.getElementsByTagName(q)[0];
  d.src='//d1l6p2sc9645hc.cloudfront.net/tracker.js';q.parentNode.
  insertBefore(d,q)}(window,document,'script','_gs');

  _gs('GSN-057421-B');
</script>
</html>
